*{
     -webkit-font-smoothing: antialiased !important;
     font-smoothing: antialiased !important;
     text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

h1,
h2{
    margin:0;
    padding:0;
}
/* Estilos de fondo*/
body{
    background: url('../images/background.jpg') no-repeat;
    background-size: cover;
}

/* Estilos de boton primario*/
.btn-primary{
    font: 20px simonettablackitalic;
    text-transform:uppercase;
    border:none;
    position:absolute;
    right:10px;
    bottom:10px;
    background: #222222;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTExMTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #222222 0%, #111111 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#111111)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #222222 0%,#111111 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #222222 0%,#111111 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #222222 0%,#111111 100%); /* IE10+ */ background: linear-gradient(to bottom,  #222222 0%,#111111 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#111111',GradientType=0 ); /* IE6-8 */
    width:150px;
    padding:8px;
}

.btn-primary:hover,
.btn-primary:focus
{
    background: #0dc8e0;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBkYzhlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTllZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #0dc8e0 0%, #399edb 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0dc8e0), color-stop(100%,#399edb)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #0dc8e0 0%,#399edb 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #0dc8e0 0%,#399edb 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #0dc8e0 0%,#399edb 100%); /* IE10+ */ background: linear-gradient(to bottom,  #0dc8e0 0%,#399edb 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dc8e0', endColorstr='#399edb',GradientType=0 ); /* IE6-8 */
    color:rgba(0,0,0,0.8);
}
/*********************************************/


/* Estilos de banner*/
.banner{
    position:relative;
    padding:10px;
    margin-bottom:40px;
    border-radius:3px;
    overflow:hidden;
}

.banner.bg-taller-1{
    background:url('../images/bg-taller-1.jpg') no-repeat right;
}
/*********************************************/

/* Estilos de banner*/
.box{
    position:relative;
    height:300px;
    overflow:hidden;
    border-radius:3px;
}

.box.bg-box-1{
    background:url('../images/bg-box-1.jpg') no-repeat right;
}

.box .title-container{
    background: rgba(0,0,0,0.8);
    padding:10px;
}

.box .description-container{
    background: rgba(0,0,0,0.8);
    padding:10px;
    position:absolute;
    bottom:-100px;
    -webkit-transition: bottom 0.4s ease-out 0; -moz-transition: bottom 0.4s ease-out 0; -ms-transition: bottom 0.4s ease-out 0; -o-transition: bottom 0.4s ease-out 0; transition: bottom 0.4s ease-out 0; }

.box:hover .description-container{
    bottom:0;
}

.box .box-link{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
/*********************************************/


/* Estilos de titulos*/
.title{
    font-family: simonetta;
    color: #f0f0f0;
}

.header .title{
    text-transform:uppercase;
    font-size:85px;
    text-shadow: 0 0 20px #000000;
}

.banner .title,
.box .title{
    font-family: simonettablackitalic;
}

.box .title{
    font-size:24px;
}

.box .description{
    font: 16px della;
    color:#f0f0f0;
}

/*********************************************/


/* Estilos de subtulos*/

.subtitle{
    font: 20px simonettaitalic;
}

.header .subtitle{
    color: #f0f0f0;
}

.subtitle-container{
    background:rgba(0,0,0,0.8);
    margin-right:155px;
    border-radius:4px;
    padding: 2px 8px;
}

/*********************************************/


/* Estilos de parrafos*/
.paragraph{
    font: 16px della;
    color: #f0f0f0;
}

.header .title{
    text-transform:uppercase;
    font-size:85px;
    text-shadow: 0 0 20px #000000;
}

.banner .title{
    font-family: simonettablackitalic;
    margin-left:15px;
}
/*********************************************/


/* Estilos de links*/

.link{
    font: 20px simonettaitalic;
    color: #97826c;
    display:inline-block;
    width:100%;
    text-align:center;
    padding:10px;
}

.link:hover{
    color:#f0f0f0;
    text-decoration:none;
}

.link.selected{
    color:#ffffff;
}

/*********************************************/


/* Estilos de header*/

.header{
    margin-bottom:60px;
}

.header .wrapper{
    position:relative;
    max-width:1120px;
    margin:10px auto;
}

/*********************************************/


/* Estilos de barra de navegacion*/

.nav-bar{
    background-color: rgba(0,0,0,0.8);
}

.divisor + .divisor{
    margin:2px 0;
}

.divisor + .divisor{
    border-left:1px solid #392a1f;
}

/*********************************************/


.site-logo{
    position:absolute;
    right:0;
    top:0;
}
