
/* Chrome, Safari, Opera */
@-webkit-keyframes bamboleo {
    0% {-webkit-transform:perspective(1px) rotateZ(0deg);}
    25% {-webkit-transform:perspective(1px) rotateZ(3deg);}
    50% {-webkit-transform:perspective(1px) rotateZ(0deg);}
    75% {-webkit-transform:perspective(1px) rotateZ(-3deg);}
    100% {-webkit-transform:perspective(1px) rotateZ(0deg);}
}

/* Standard syntax */
@keyframes bamboleo {
0% {transform:perspective(1px) rotateZ(0deg);}
25% {transform:perspective(1px) rotateZ(3deg);}
50% {transform:perspective(1px) rotateZ(0deg);}
75% {transform:perspective(1px) rotateZ(-3deg);}
100% {transform:perspective(1px) rotateZ(0deg);}
}


/* Chrome, Safari, Opera */
@-webkit-keyframes link-animation {
    from {background-position: 0 10px;}
    to {background-position:0 -313px;}
}

/* Standard syntax */
@keyframes link-animation{
from {background-position:0 10px;}
to {background-position:0 -313px;}
}

a:hover{
    text-decoration:none !important;
}

p,span,a,h1,h2,h3{
     -webkit-font-smoothing: antialiased !important;
     font-smoothing: antialiased !important;
     text-shadow: 0px 0px 1px rgba(0,0,0,0.04);
     -webkit-transform:perspective(1px);
     -webkit-backface-visibility:hidden;
     backface-visibility:hidden;
}

*.bailando{
    -webkit-animation: bamboleo 1.3s infinite; /* Chrome, Safari, Opera */
   animation: bamboleo 1.3s infinite;
}

button:focus,
input:focus,
textarea:focus{
    outline:none;
}

.no-gutter {
	padding-left:0;
    padding-right:0;
}

.no-margin-bottom{
    margin-bottom:0 !important;
}

dt,
dd{
    font-weight:300;
}

h1,
h2{
    margin:0;
    padding:0;
}
/* Estilos de fondo*/
body{
    background: url('../images/background.png') no-repeat, url('../images/background-tile.jpg') repeat-y;
    background-size: cover,contain;
}

.main{
    min-height:600px;

}

/* Estilos de boton*/
.btn-primary,
.btn-danger{
    font: 20px simonettablackitalic;
    text-transform:uppercase;
    border:none;
    position:absolute;
    right:10px;
    bottom:10px;
    background: #222222;
    width:150px;
    padding:8px;
}

/* Estilos de boton primario*/

.btn-primary{
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTExMTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #222222 0%, #111111 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#111111)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #222222 0%,#111111 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #222222 0%,#111111 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #222222 0%,#111111 100%); /* IE10+ */ background: linear-gradient(to bottom,  #222222 0%,#111111 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#111111',GradientType=0 ); /* IE6-8 */
}
.btn-primary:hover,
.btn-primary:focus
{
    background: #0dc8e0;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBkYzhlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTllZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #0dc8e0 0%, #399edb 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0dc8e0), color-stop(100%,#399edb)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #0dc8e0 0%,#399edb 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #0dc8e0 0%,#399edb 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #0dc8e0 0%,#399edb 100%); /* IE10+ */ background: linear-gradient(to bottom,  #0dc8e0 0%,#399edb 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dc8e0', endColorstr='#399edb',GradientType=0 ); /* IE6-8 */

}

/* Estilos de boton danger*/

.btn-primary{
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTExMTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #222222 0%, #111111 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#111111)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #222222 0%,#111111 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #222222 0%,#111111 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #222222 0%,#111111 100%); /* IE10+ */ background: linear-gradient(to bottom,  #222222 0%,#111111 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#111111',GradientType=0 ); /* IE6-8 */
}
.btn-primary:hover,
.btn-primary:focus
{
    background: #0dc8e0;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBkYzhlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTllZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #0dc8e0 0%, #399edb 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0dc8e0), color-stop(100%,#399edb)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #0dc8e0 0%,#399edb 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #0dc8e0 0%,#399edb 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #0dc8e0 0%,#399edb 100%); /* IE10+ */ background: linear-gradient(to bottom,  #0dc8e0 0%,#399edb 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dc8e0', endColorstr='#399edb',GradientType=0 ); /* IE6-8 */

}


.btn.btn-dynamic{
    width:auto;
}

.btn-group{
    position:absolute;
    right:10px;
    bottom:10px;
    left:10px;
    text-align:right;
}
.btn-group .btn{
    position:static;
    margin-right:10px;
    border-radius:5px !important;
    width:auto;
}

.btn.btn-left{
    float:left;
    margin:0;
}

.btn.btn-right{
    float:right;
    margin-right:0;
}

.btn.btn-danger{}
/*********************************************/


/* Estilos de banner*/
.banner{
    position:relative;
    padding:20px 10px 10px;
    margin-bottom:40px;
    border-radius:3px;
    overflow:hidden;
    min-height: 234px;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,0.9);
}

.banner.bg-taller-1{
    background:url('../images/bg-taller-1.jpg') no-repeat right;
}

.banner .separator{
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom:20px;
    margin:0 12px;
    min-height:100px;
}

.tip{
    padding:25px 0 0 12px;
    font: 14px "Helvetica Neue" , Helvetica, Arial, "sans-serif";
    color:#f0f0f0;
    position:relative;
    top:-2px;
}

.talleres .banner .paragraph{
    /*margin-left:-60px;*/
    position:relative;
    left:-60px;
}

.psicoterapia .banner .paragraph{
    margin-left:3px;
}

/*********************************************/

/* Estilos de box*/
.box{
    position:relative;
    height:300px;
    overflow:hidden;
    border-radius:3px;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,0.9);
}

.box.bg-box-1{
    background:url('../images/bg-box-1.jpg') no-repeat right;
}

.box .title-container{
    background-color:#222222;
    background-color:rgba(20,20,20,0.9);
    padding:10px;
    box-shadow: 0 2px 4px  rgba(0,0,0,0.3);
}

.box .description-container{
    background-color:#222222;
    background-color:rgba(0,0,0,0.8);
    padding:10px;
    position:absolute;
    bottom:-200px;
    right:0;
    left:0;
    min-height:100px;
    -webkit-transition: bottom 0.4s ease-out 0; -moz-transition: bottom 0.4s; -ms-transition: bottom 0.4s ease-out 0; -o-transition: bottom 0.4s ease-out 0; transition: bottom 0.4s ease-out 0; }

.box:hover .description-container{
    bottom:0;
}

.box .box-link{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
/*********************************************/

/* Estilos de box-story*/

.box.box-story{
    margin: 0 10px;
    width:300px;
    height:auto;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,0.9);
}

.slick-track{
    padding-bottom:4px;
}

.slick-slide{
    -webkit-transform: scale(0.95);
       -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
         -o-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transition: transform 1s ease;
       -moz-transition: transform 1s ease;
        -ms-transition: transform 1s ease;
         -o-transition: transform 1s ease;
            transition: transform 1s ease;
}

.slick-active{
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}

.slick-prev{
    left:-35px;
}

.slick-next{
    right:-35px;
}


.slick-prev:before,
.slick-next:before,
.slick-prev,
.slick-next{
    font-size:30px;
    width:30px;
    height:30px;
}


.ensenanzas .box.bg-box-1{
    background:none;
}

.box.box-story .story-image{
    width:100%;
}

.box.box-story .title-container{
    background-color:#222222;
}


.story-container{
    background-color: rgba(255,255,255,0.15);
    padding: 30px 0 0px;
    border-radius:5px;
    margin-bottom:20px;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,0.2);
}

/*********************************************/


/* Estilos de videos*/

.youtube-player{

    width:900px;
    height:548px;
    margin:0 auto;
    display:block;
    background:#222222;
}

.modal-video{
    position:relative;
}

.ensenanzas .modal-backdrop{
    opacity:0.9;
}

.modal-video .close{
    position:absolute !important;
    top:-15px;
    right:-50px;
}

.loto-container{
    position:relative;
    background-color: rgba(255,255,255,0.15);
    border-radius:5px;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,0.2);
}
.loto-icon{
    position:absolute;
    left:50%;
    top:50%;
    width:50px;
    margin: -16px 0 0 -25px;
    z-index:1;
}

.video-container{
    padding: 30px 0 0;
}

.video-container .row{
    margin-bottom:18px;
}

.video-preview-container{
    overflow:hidden;
    border-radius:3px;
    width:90%;
    position:relative;
    margin-bottom:10px;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,0.9);
}

.title-video .link{
    color:#222222;
    padding:0;
    text-align:left;
    display:inline;
}

.video-button{
    position:absolute;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    border:none;
}



/*********************************************/


/* Estilos de textos*/

.text-container{
    padding: 30px 0 50px;
}

.text-container .texts-list{
    list-style:none;
    padding:0;
    margin-left:12px;
}

.text-container .texts-list li{
    position:relative;
    padding:4px 10px 10px;
    background-color:rgba(0,0,0,0.05);
}
.text-container .texts-list li:nth-child(odd){
    background-color:rgba(0,0,0,0.025);
}

.text-container .texts-list li:before{
    content:'';
    display:inline-block;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid #222222;
    margin-right:6px;
    position:absolute;
    top:19px;
    left:9px;
}

.texts-list .link{
    margin:0 0 0 10px;
    padding:0;
    color:#222222;
    text-align:left;
    display:inline;
    line-height:35px;
}

.texts-list .link:hover{
    border-bottom:1px solid #f0f0f0;
}

.text-container .abstract{
    padding:0 10px 0;
    font: 16px/16px della;
}


/*********************************************/


/* Estilos de titulos*/
.title{
    font-family: simonetta;
    color: #f0f0f0;
}

.header .title{
    text-transform:uppercase;
    font-size:85px;
    text-shadow: 0 0 20px #000000;
}

.banner .title,
.box .title,
.workshop-view .title{
    font-family: simonettablackitalic;
}

.banner .title{
    margin-bottom:20px;
}

.box .title{
    font-size:24px;
}

.box .description{
    font: 16px della;
    color:#f0f0f0;
}

.workshop-view .title{
    font-size:30px;
    line-height:30px;
}

.workshop-view .title-section {
    font: 16px/18px della;
    margin:0 10px 10px 10px;
    padding-bottom:4px;
    display:block;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

.title-story{
    font: 35px/35px simonettablackitalic;
    margin:0 0 20px 10px;
}

.title-video{
    font: 20px/20px simonetta;

}

.ader .btn-primary{
    background: #0dc8e0;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBkYzhlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTllZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #0dc8e0 0%, #399edb 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0dc8e0), color-stop(100%,#399edb)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #0dc8e0 0%,#399edb 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #0dc8e0 0%,#399edb 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #0dc8e0 0%,#399edb 100%); /* IE10+ */ background: linear-gradient(to bottom,  #0dc8e0 0%,#399edb 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dc8e0', endColorstr='#399edb',GradientType=0 ); /* IE6-8 */
}

.workshop-header .btn-primary:hover,
.workshop-header .btn-primary:focus
{
    background: #222222;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTExMTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #222222 0%, #111111 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#111111)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #222222 0%,#111111 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #222222 0%,#111111 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #222222 0%,#111111 100%); /* IE10+ */ background: linear-gradient(to bottom,  #222222 0%,#111111 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#111111',GradientType=0 ); /* IE6-8 */

}




/*********************************************/


/* Estilos de subtitulos*/

.subtitle{
    font: 20px simonettaitalic;
}

.header .subtitle{
    color: #f0f0f0;
}

.subtitle-container{
    background-color:#222222;
    background-color:rgba(20,20,20,0.9);
    margin-right:155px;
    border-radius:4px;
    padding: 2px 8px;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,0.7);
}

/*********************************************/


/* Estilos de parrafos*/
.paragraph{
    font: 16px della;
    color: #f0f0f0;
    text-shadow: 0 0 1px rgba(255,255,255,0.15);
}

.header .title{
    text-transform:uppercase;
    font-size:85px;
    text-shadow: 0 0 20px #000000;
}

.banner .title{
    font-family: simonettablackitalic;
    margin-left:15px;
}
.workshop-view .contents{
    margin-bottom:30px;
}
.workshop-view .contents .paragraph{
    color: #222222;
    color: rgba(0,0,0,0.8);
    text-shadow: 0 0 1px rgba(0,0,0,0.15);
}

/*********************************************/


/* Estilos de links*/

.nav-bar .link,
.nav-bar .link:visited{
    color: #97826c;
    display:inline-block;
}

.link,
.link:visited{
    font: 20px simonettaitalic;
    width:100%;
    text-align:center;
    padding:10px;
}

.link:hover,
.link:focus{
    color:#f0f0f0;
    text-decoration:none;
}

.link.selected{
    color:#ffffff;
}

.admin .landing-page{
    display:none;
}
.admin .post .answer{
    padding-bottom:60px;
}

.hover-link{
    position:absolute;
    left:0;
    bottom:-2px;
    right:0;
    height:5px;
    background:url('../images/link-background.png') no-repeat #0dc8e0;
    opacity:0;
    -webkit-animation: link-animation 5s linear infinite;
    animation: link-animation 5s linear infinite;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

.link:hover + .hover-link{
    opacity:1;
}
/*********************************************/


/* Estilos de header*/

.header{
    margin-bottom:60px;
}

.header .wrapper{
    position:relative;
    max-width:1120px;
    margin:30px auto 10px;
}

/* Header vista taller*/
.workshop-header{
    position:relative;
    background:url('../images/bg-taller-1.jpg') no-repeat right;
    padding:15px;
    margin-bottom:30px;
    box-shadow: 0 2px 4px  rgba(0,0,0,0.3);
}

.header .logo-circle{
    position:absolute;
    left:40%;
    top:-25px;
    border-radius: 100px;
    width:60px;
    height:60px;
    padding:0;
}

.header .logo-circle img{
    position:relative;
    top:15px;
    left:0px;
}

/*********************************************/


/* Estilos de barra de navegacion*/

.nav-bar{
    background-color: #222222;
    background-color:rgba(20,20,20,0.9);
    box-shadow: 0 4px 4px  rgba(0,0,0,0.3);
    top:-40px;
    -webkit-transition: top 0.6s ease-out;
    transition: top 0.6s ease-out;
}

.nav-bar div{
    -webkit-transition: background-color 1s linear;
    -moz-transition: background-color 1s linear;
    -ms-transition: background-color 1s linear;
    -o-transition: background-color 1s linear;
}

.nav-bar div:hover{
    transition: background-color 1s linear;
    background-color:#111111;
}

.nav-bar.sticky{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    background-color: #222222;
    box-shadow: 0 2px 4px  rgba(0,0,0,0.7);
    border-bottom:1px solid rgba(255,255,255,0.5);
}

.divisor + .divisor{
    margin:2px 0;
}

.divisor + .divisor{
    border-left:1px solid #392a1f;
}

/*********************************************/


/* Estilos de barra de lista de datos*/

.banner .data{
    margin:4px 0 0 3px;
    padding:0;
    list-style:none;
    font: 14px "Helvetica Neue" , Helvetica, Arial, "sans-serif";
    color:#f0f0f0;
    max-width:185px;
}

.banner .data li{
    margin-bottom:5px;
}
.banner .data li:before,
.banner .data li::before{
    content:'';
    display:inline-block;
    width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #f0f0f0;
    margin-right:6px;
    position:relative;
    top:1px;
    left:1px;
}



/*********************************************/



/* Estilos de vista taller*/

.workshop-view{
    overflow:hidden;
    border-radius:3px;
    margin-bottom:50px;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,0.2);
}

.ie .workshop-view{
    overflow:visible;
}

.workshop-view .data{
    list-style:none;
    padding:0;
}

.workshop-view .data li{
    margin-bottom:15px;
}
.workshop-view .data li:before,
.workshop-view .data li::before{
    content:'';
    display:inline-block;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #333333;
    margin-right:6px;
    position:relative;
    top:1px;
    left:1px;
}


.workshop-view .data .data-type{
    font-size:16px;
}

.workshop-view .data .data-info{
    display:block;
    margin-left:12px;
    font-size:18px;
}

.workshop-view{
    background-color: rgba(255,255,255,0.15);
}

body.taller .contents{
    padding: 0 10px;
}

.workshop-view .activity-list{
    list-style:none;
    padding-left:20px;
    margin-bottom:30px;
}
.workshop-view .hours,
.workshop-view .minutes,
.workshop-view .colon{
    font: 22px/24px simonettablackitalic;
    color:#84593d;
    color:rgba(0,0,0,0.5);
}
.workshop-view .hours{
    width:28px;
    display:inline-block;
    text-align:center;
}

.workshop-view .minutes{
    width:28px;
    display:inline-block;
    text-align:center;
}

.workshop-view .activity-name{
    font: 16px della;
    display: inline-block;
    width: 90%;
    vertical-align: top;
    position: relative;
    top: 1px;
}

.workshop-view .activity{
    margin-bottom:4px;
}
/*********************************************/

.site-logo{
    position:absolute;
    right:0;
    top:-10px;
    opacity:0.7;
}



/* Estilos de vista taller*/

.footer{
    min-height:100px;
    background-color:#222222;
    background-color:rgba(20,20,20,0.9);
    color:#aaaaaa;
    padding-top:10px;
    margin-top:50px;
}

.follow{
    font:16px simonettablackitalic;
    display:block;
    text-transform:uppercase;
    width:100px;
    text-align:right;
    position:relative;
    left:120px;
}

.rights{
    font:40px/35px simonettablack;
    padding-top:8px;
}

.designer{
    padding-top:58px;
    font:12px simonettablack;
    text-transform:uppercase;
    text-align:center;
}
.designer a{
    padding-left:10px;
}

.footer a{
    color:#337ab7;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

.footer a:hover{
    color:#eeeeee;
    text-decoration:none;
}

/*********************************************/


/* Estilos de ventana modal*/

body.modal-open{
    padding-right:0 !important;
}

html{
    height:100%;
}

body{
    position: relative;
    height: 100%;
}


body.ie{
    position: initial;
    height: auto;
    overflow: auto;
}

.modal .title{
    font: 30px/35px simonettablackitalic;
    line-height: 30px;
}

.modal .title-container{
    background-color:#222222;
    background-color:rgba(20,20,20,0.9);
    padding: 12px 15px 5px;
    box-shadow: 0 2px 4px  rgba(0,0,0,0.3);
    margin-bottom:10px;
}

.modal .close{
    color:#f0f0f0;
    opacity:0.8;
    font-size:50px;
    padding: 5px 10px 0 0;
    position:relative;
    z-index:1;
}

.modal .close:hover{
    opacity:1;
    color:#ffffff;
    display:block;
}

.modal .cancel{
    font:20px della;
    text-decoration:underline;
    padding:0;
    margin:10px 30px 10px;
    float:right;
}


/*********************************************/

/* Estilos de formulario*/

.modal-form{
    padding:20px;
}

.modal-form input,
.modal-form textarea{
    border-radius:3px;
    border:1px solid #aaaaaa;
    width:100%;
    height:40px;
    padding:10px;
    /*padding-left:10px;
    padding-right:10px;*/
    font: 20px/20px simonetta;
    color:#222;
    resize:none;
}

.modal-form input.error,
.modal-form textarea.error{
    background-color:rgba(255,0,0,0.2);
}

.modal-form .half-input input{
    width:49%;
    float:left;
}

.modal-form .half-input input + input{
    float:right;
}

.modal-form .input-container{
    margin-bottom:20px;
}

.modal-form .required{
    position:relative;
}

.modal-form .required:before{
    content: '*';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    text-align: center;
    padding-top: 6px;
    font-size: 30px;
    color: #ee2222;
    background: #f0f0f0;
    border: 1px solid #aaa;
    border-left: 1px solid #ccc;
    border-radius: 0 3px 3px 0;
}

.modal-form .required input{
    padding-right:50px;
}

.modal-form textarea{
    height:200px;
}

::-webkit-input-placeholder {
    font: 20px/24px simonetta;
    color:#333;
}

:-moz-placeholder { /* Firefox 18- */
   font: 20px/24px simonetta;
   color:#333;
}

::-moz-placeholder {  /* Firefox 19+ */
   font: 20px/24px simonetta;
   color:#333;
}

:-ms-input-placeholder {
   font: 20px/24px simonetta;
   color:#333;
}

.modal-form .subtitle{
    margin-bottom:20px;
    font-size:25px;
}

.modal-form .btn{
    position:static;
    float:right;
}


/*********************************************/


/* Estilos de formulario*/

.modal-success{
    font: 20px/22px della;
    padding:40px 20px;
    text-align:center;
}

/*********************************************/



/* Estilos de scroll bar*/
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y{
    background-color:#222;
}

.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y:hover{
    background-color:#222;
}

.ps-container:hover > .ps-scrollbar-y-rail:hover{
    background-color:rgba(255,255,255,0.5);
}

/*********************************************/


/* Estilos de posteos*/

.post{
    background: rgba(255,255,255,0.15);
    border-radius: 3px;
    padding:10px 10px 0;
    border-bottom:1px solid transparent;
    margin-bottom:20px;
    position:relative;
    overflow:hidden;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,0.7);
}

.post .question{
    padding:0 81px;
    background: url('../images/avatar.png') no-repeat left top;
    min-height:71px;
    padding-bottom:10px;
    margin-bottom:10px;
    min-height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.post .answer{
    padding:0 81px;
    background: url('../images/avatar.png') no-repeat right top;
    min-height:71px;
}

.do-post{
    position:relative;
    height:50px;
}

.new-post{
    background-color: rgba(255,255,255,0.3);
}

.do-post .invitation{
    font: 25px/27px simonettablackitalic;
    padding:8px 0 0 80px;
    display:block;
}
/*
    Formulario posteo
*/

.form-post{
    display:none;
}

.form-post .input-name,
.form-post .input-message{
    border-radius:3px;
    border:1px solid rgba(0,0,0,0.2);
    /*background-color: rgba(255,255,255,0.1);*/
    background-color:transparent;
    width:100%;
    height:40px;
    padding:10px;
    /*padding-left:10px;
    padding-right:10px;*/
    font: 20px/20px simonetta;
    color:#222;
    resize:none;
    margin-bottom:10px;
}

.form-post .input-message{
    height:120px;
    margin-bottom:60px;
}

.form-post .send-post{
    display:none;
}

/*********************************************/

/* Estilos de formulario de respuesta y aprobacion*/

.form-reply .input-message{
    border-radius:3px;
    border:1px solid rgba(0,0,0,0.2);
    /*background-color: rgba(255,255,255,0.1);*/
    background-color:transparent;
    width:100%;
    height:40px;
    padding:10px;
    /*padding-left:10px;
    padding-right:10px;*/
    font: 20px/20px simonetta;
    color:#222;
    resize:none;
    margin-bottom:10px;
    height:120px;
    margin-bottom:60px;
}


/*********************************************/


/* Estilos de informacion de contacto*/

.contact-info{
    background-color: rgba(255,255,255,0.15);
    border-radius:3px;
    padding:20px 10px 10px 10px;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,0.7);
}

.contact-info .title{
    color:#222222;
    margin-bottom:20px;
    padding-bottom:10px;
    border-bottom:1px solid rgba(0,0,0,0.15);
    line-height:25px;
}

.contact-info .info-list{
    font: 16px/20px della;
}

.contact-info .info-type{
    background-color: rgba(255,255,255,0.4);
    padding:4px;
    margin-bottom:10px;
    border-radius:2px;
    font-weight:700;
    -webkit-font-smoothing: antialiased;
}

.contact-info .info-data{
    border-bottom:1px solid rgba(0,0,0,0.1);
    padding-bottom:10px;
    margin-bottom:20px;
    text-align:center;
}

.contact-info .link{
    padding:0;
    color:#222222;
    font-size:18px;
}

.contact-info .link:hover{
    text-decoration:underline;
}
/*********************************************/


/* Estilos de informacion de iconos*/

.social{
    text-align:right;
}

.icon{
    display:inline-block;
    margin:0 5px 5px;
    opacity:1;
    position:relative
}

.icon:before{
    content:'';
    display:block;
    position:absolute;
    left:0;
    top:0;
    opacity:0;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}

.icon:after{
    content:'';
    display:block;
    position:absolute;
    left:0;
    top:0;
    opacity:1;
}

.icon:hover:before{
    opacity:1;
    z-index:1;
}


.icon.icon-facebook{
    width:32px;
    height:32px;
}

.icon.icon-twitter{
    width:32px;
    height:32px;
}

.icon.icon-youtube{
    width:80px;
    height:32px;
}

.icon.icon-facebook:after{
    width:32px;
    height:32px;
    background: url("../images/facebook2.png") no-repeat;
}

.icon.icon-twitter:after{
    width:32px;
    height:32px;
    background: url("../images/twitter2.png") no-repeat;
}

.icon.icon-youtube:after{
    width:80px;
    height:32px;
    background: url("../images/youtube4.png") no-repeat;
}


.icon.icon-facebook:before{
    width:32px;
    height:32px;
    background: url("../images/facebook2-hover.png") no-repeat;
}

.icon.icon-twitter:before{
    width:32px;
    height:32px;
    background: url("../images/twitter2-hover.png") no-repeat;
}

.icon.icon-youtube:before{
    width:80px;
    height:32px;
    background: url("../images/youtube4-hover.png") no-repeat;
}


/*********************************************/


/* Estilos de informacion de iconos*/

.form-login{
    background:#ffffff;
    border-radius:3px;
    padding:10px;
    position:relative;
    padding-bottom:40px;
}

.form-login .btn-primary{
    top:-10px;
    height:40px;
    right:13px;
    background: #222222;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTExMTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #222222 0%, #111111 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#111111)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #222222 0%,#111111 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #222222 0%,#111111 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #222222 0%,#111111 100%); /* IE10+ */ background: linear-gradient(to bottom,  #222222 0%,#111111 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#111111',GradientType=0 ); /* IE6-8 */
}

.form-login .btn-primary:hover,
.form-login .btn-primary:focus,
.form-login .btn-default:hover,
.form-login .btn-default:focus{
    background: #0dc8e0;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBkYzhlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTllZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #0dc8e0 0%, #399edb 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0dc8e0), color-stop(100%,#399edb)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #0dc8e0 0%,#399edb 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #0dc8e0 0%,#399edb 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #0dc8e0 0%,#399edb 100%); /* IE10+ */ background: linear-gradient(to bottom,  #0dc8e0 0%,#399edb 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dc8e0', endColorstr='#399edb',GradientType=0 ); /* IE6-8 */
}
.form-login .btn-default{
    font: 14px simonetta;
    text-transform:uppercase;
    border:none;
    position:absolute;
    top:-10px;
    height:40px;
    background: #222222;
    width:auto;
    padding:8px;
    line-height:25px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTExMTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #222222 0%, #111111 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#111111)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #222222 0%,#111111 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #222222 0%,#111111 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #222222 0%,#111111 100%); /* IE10+ */ background: linear-gradient(to bottom,  #222222 0%,#111111 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#111111',GradientType=0 ); /* IE6-8 */
    text-shadow:none;
    color:#ffffff;
}

.form-login .title{
    color:#000000;
    margin-bottom:10px;
}

.link.inline{
    display:inline-block;
    width:46%;
}
/*********************************************/
